<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">You have {{ cart.totalItemCount }} items in your shopping cart</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item" >
        {{ item.quantity }} x {{ item.title }}
        <div class="float-end">
          {{ item.totalPrice | currency }}</div><br>
      </li>
      <li style="font-weight:bold" class="list-group-item">
        Total
        <div class="float-end">
          {{cart.totalPrice | currency }}</div><br>
      </li> 
    </ul>
  </div>
</div>
